body {
	background-color: black;
}

h1 {
	font-size: 20rem;
	font-family: 'Lobster', san-serif;
	text-align: center;
	line-height: .5;
	color: white;
}
h2{
		font-size: 10rem;
		color: white;
	font-family: 'Roboto', san-serif;
	text-align: center;
}
}

@media (max-width: 992px){

	h1 {
	font-size: 10rem;
	
}
	h2{
		font-size: 5rem;

}
}

